# Ignorar la carpeta target
target/

# Ignorar archivos de configuración específicos de IDEs
nbactions.xml
nb-configuration.xml

# Ignorar archivos de compilación
*.class
*.log

# Ignorar archivos generados por NetBeans
.idea/
*.iml

# Ignorar archivos de configuración de Maven
*.jar
*.war
*.ear

# Ignorar archivos específicos de la JVM
*.log
*.out

# Ignorar archivos de configuración específicos de sistemas operativos
.DS_Store
Thumbs.db


